# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NODE_ENV=development

APP_NAME="api_bun_hono_bootstrap"

JWT_SECRET=mYS3KuR3T0k€|\!
JWT_EXPIRES_IN_SECONDS=1800

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=root
DATABASE_PASSWORD=secret
DATABASE_NAME="api_bun_hono_bootstrap"
DATABASE_MAX_CONNECTIONS=5
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_URL="postgresql://$DATABASE_USERNAME:$DATABASE_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$DATABASE_NAME?schema=public"

S3_PROTOCOL=http
S3_HOST=localhost
S3_PORT=5433
S3_CONSOLE_PORT=5434
S3_USERNAME=root
S3_DEFAULT_BUCKET=api_bun_hono_bootstrap
S3_PASSWORD=secrets3key
S3_URL="$S3_PROTOCOL://$S3_HOST:$S3_PORT"

BREVO_API_KEY=""
EMAIL_SENDER_NAME=""
EMAIL_SENDER_EMAIL="noreply@api_bun_hono_bootstrap.com"